<%- include header %>
    
    <div class="right_content">            
        
        <h2><%= menu.title %></h2>
        <%- include tips %>
     
         
			<div class=WordSection1 style='layout-grid:15.6pt'>
<div id="user"></div>
			<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt;font-family:
			宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>一</span></b><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt'> </span></b><b
			style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;mso-bidi-font-size:
			11.0pt;font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>用户管理指南</span></b></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>用户管理功能包含</span><span
			lang=EN-US>2</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>部分：</span></p>

			<p class=MsoNormal><span lang=EN-US>1.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>用户查看，可以查看全部用户列表</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shapetype
			 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
			 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
			 <v:stroke joinstyle="miter"/>
			 <v:formulas>
			  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
			  <v:f eqn="sum @0 1 0"/>
			  <v:f eqn="sum 0 0 @1"/>
			  <v:f eqn="prod @2 1 2"/>
			  <v:f eqn="prod @3 21600 pixelWidth"/>
			  <v:f eqn="prod @3 21600 pixelHeight"/>
			  <v:f eqn="sum @0 0 1"/>
			  <v:f eqn="prod @6 1 2"/>
			  <v:f eqn="prod @7 21600 pixelWidth"/>
			  <v:f eqn="sum @8 21600 0"/>
			  <v:f eqn="prod @7 21600 pixelHeight"/>
			  <v:f eqn="sum @10 21600 0"/>
			 </v:formulas>
			 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
			 <o:lock v:ext="edit" aspectratio="t"/>
			</v:shapetype><v:shape id="图片_x0020_1" o:spid="_x0000_i1030" type="#_x0000_t75"
			 style='width:348pt;height:270pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/adminHelp.files/image001.png" o:title="" cropbottom="4324f"/>
			</v:shape><![endif]--><!-- <img width=464 height=360
			src="images/helpImg/adminHelp.files/image002.jpg" v:shapes="图片_x0020_1"></span></p> -->

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>点击相应按钮可以进入查看或编辑用户的详细信息。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>2.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>待处理权限申请选项列出的申请改变权限的用户，点击编辑可以选择修改用户角色。</span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>本系统用户角色分为管理员、审核员和普通用户三种。其中普通用户可以申报科研学术活动和科普教育实习已经申请成为志愿者并参加志愿者活动；审核员负责审核普通用户提交的申请以及相应的事物处理；管理员拥有审核员的全部权限以及系统用户管理、系统维护等权限。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>
<div id="data"></div>
			<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt;font-family:
			宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>二</span></b><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt'> </span></b><b
			style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;mso-bidi-font-size:
			11.0pt;font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>数据维护指南</span></b></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>数据维护部分提供管理员对系统设置的相应修改。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>1.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>设置邮寄地址，此处用于设置用户邮寄合同或科研成果时的邮寄地址。内容包过地址、邮编、联系人等。</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_2" o:spid="_x0000_i1029" type="#_x0000_t75" style='width:346.5pt;
			 height:170.25pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/adminHelp.files/image003.png" o:title=""/>
			</v:shape><![endif]--><img width=462 height=227
			src="images/helpImg/adminHelp.files/image004.jpg" v:shapes="图片_x0020_2"></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>2.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>设置系统邮箱。此处设置系统用于向用户发送通知的发件电子邮箱。</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_3" o:spid="_x0000_i1028" type="#_x0000_t75" style='width:437.25pt;
			 height:186pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/adminHelp.files/image005.png" o:title=""/>
			</v:shape><![endif]--><img width=583 height=248
			src="images/helpImg/adminHelp.files/image006.jpg" v:shapes="图片_x0020_3"></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>3.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>发布首页公告、此处可编辑系统公告，此公告将显示在登录后的系统首页上。</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_4" o:spid="_x0000_i1027" type="#_x0000_t75" style='width:441pt;
			 height:280.5pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/adminHelp.files/image007.png" o:title=""/>
			</v:shape><![endif]--><img width=588 height=374
			src="images/helpImg/adminHelp.files/image007.png" v:shapes="图片_x0020_4"></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>
<div id="sys"></div>
			<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt;font-family:
			宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>三</span></b><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt'> </span></b><b
			style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;mso-bidi-font-size:
			11.0pt;font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>系统管理指南</span></b></p>

			<p class=MsoNormal><span lang=EN-US>1.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>数据转存。系统每周日凌晨4点半会定时备份数据库数据及文件数据，管理员可随时重新备份或下载最新的备份文件。每次手动或自动备份数据时会扫描并自动删除30天前创建的备份文件以避免占用过多空间。</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_5" o:spid="_x0000_i1026" type="#_x0000_t75" style='width:412.5pt;
			 height:201.75pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/adminHelp.files/image008.png" o:title=""/>
			</v:shape><![endif]--><img width=550 height=269
			src="images/helpImg/adminHelp.files/image009.jpg" v:shapes="图片_x0020_5"></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>2.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>系统开关。系统关闭后，仅管理员可以登录系统。</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_9" o:spid="_x0000_i1025" type="#_x0000_t75" style='width:437.25pt;
			 height:139.5pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/adminHelp.files/image010.png" o:title=""/>
			</v:shape><![endif]--><img width=583 height=186
			src="images/helpImg/adminHelp.files/image010.png" v:shapes="图片_x0020_9"></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			</div>


   </div><!-- end of right content -->
 
<%- include footer %>
