<%- include header %>
    
    <div class="right_content">            
        
        <h2><%= menu.title %></h2>
        <%- include tips %>
     
        <div class=WordSection1 style='layout-grid:15.6pt'>
<div id="res"></div>
			<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt;font-family:
			宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>一</span></b><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt'> </span></b><b
			style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;mso-bidi-font-size:
			11.0pt;font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>科研学术活动管理指南</span></b><b
			style='mso-bidi-font-weight:normal'><span lang=EN-US style='font-size:14.0pt;
			mso-bidi-font-size:11.0pt'><o:p></o:p></span></b></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>科研学术活动管理功能主要用来审核用户提出的科研活动申请及其后续材料的递交。</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shapetype
			 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
			 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
			 <v:stroke joinstyle="miter"/>
			 <v:formulas>
			  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
			  <v:f eqn="sum @0 1 0"/>
			  <v:f eqn="sum 0 0 @1"/>
			  <v:f eqn="prod @2 1 2"/>
			  <v:f eqn="prod @3 21600 pixelWidth"/>
			  <v:f eqn="prod @3 21600 pixelHeight"/>
			  <v:f eqn="sum @0 0 1"/>
			  <v:f eqn="prod @6 1 2"/>
			  <v:f eqn="prod @7 21600 pixelWidth"/>
			  <v:f eqn="sum @8 21600 0"/>
			  <v:f eqn="prod @7 21600 pixelHeight"/>
			  <v:f eqn="sum @10 21600 0"/>
			 </v:formulas>
			 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
			 <o:lock v:ext="edit" aspectratio="t"/>
			</v:shapetype><v:shape id="图片_x0020_6" o:spid="_x0000_i1047" type="#_x0000_t75"
			 style='width:174.75pt;height:126.75pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image001.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=233 height=169
			src="images/helpImg/auditorHelp.files/image001.png" v:shapes="图片_x0020_6"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>管理科研学术活动菜单栏下有四个子项，分别为：</span></p>

			<p class=MsoNormal><span lang=EN-US>1.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>待审核科研活动申请：显示所有用户提交了活动申请，但是尚未经过审核的科研学术活动。</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_3" o:spid="_x0000_i1046" type="#_x0000_t75" style='width:415.5pt;
			 height:129pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image002.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=554 height=172
			src="images/helpImg/auditorHelp.files/image003.jpg" v:shapes="图片_x0020_3"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>点击某个活动对应的操作按钮可以查看活动详情并进行审核：</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_4" o:spid="_x0000_i1045" type="#_x0000_t75" style='width:347.25pt;
			 height:312.75pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image004.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=463 height=417
			src="images/helpImg/auditorHelp.files/image005.jpg" v:shapes="图片_x0020_4"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>科研学术活动详情页面中点击申请人姓名可以查看活动申请人的用户信息，点击人数后面的“查看”可以查看参加该活动的活动成员列表。</span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>查看活动的全部信息后可以在该页面选择是否审核通过该项活动申请的审核。如果不通过审核，请填写拒绝理由，通过审核则无需填写。</span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>若审核通过，该活动申请将被提交至主管领导进行进一步审核。</span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>领导审核通过后将邮件提醒申请用户进行提交合同的操作，科研宣教科人员需要继续对合同进行审查。若领导为通过该活动申请，用户也将收到拒绝通知。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>2.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>待确认科研活动合同：用户活动申请审核通过后需要递交活动合同，该选项下显示所有用户已提交了合同等待工作人员确认合同的活动。</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_1" o:spid="_x0000_i1044" type="#_x0000_t75" style='width:409.5pt;
			 height:109.5pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image006.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=546 height=146
			src="images/helpImg/auditorHelp.files/image007.jpg" v:shapes="图片_x0020_1"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>点击该页面某个活动对应的操作按钮可以查看用户上传的合同文件或提交的合同邮寄信息，如下。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_13" o:spid="_x0000_i1043" type="#_x0000_t75" style='width:408pt;
			 height:297.75pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image008.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=544 height=397
			src="images/helpImg/auditorHelp.files/image009.jpg" v:shapes="图片_x0020_13"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>合同审核页面可以下载用户提交的活动合同扫描件，或者查看用户邮寄合同填写的邮寄信息。</span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>根据下载的合同扫描件或收到的邮寄合同，审核活动合同。若不通过审核，请填写拒绝理由，若通过则无需填写。</span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>审核后用户会收到系统的邮件通知。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>3.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>待确认科研活动成果：用户在进行完科研学术活动后需要提交科研活动成果，该选项下显示用户已提交了活动成果等待工作人员确认的活动。</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_14" o:spid="_x0000_i1042" type="#_x0000_t75" style='width:408pt;
			 height:105.75pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image010.png" o:title="" cropbottom="6645f"/>
			</v:shape><![endif]--><![if !vml]><img width=544 height=141
			src="images/helpImg/auditorHelp.files/image011.jpg" v:shapes="图片_x0020_14"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>点击该页面某个活动对应的操作按钮可以查看用户上传的成果文件或提交的成果邮寄信息，如下。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_5" o:spid="_x0000_i1041" type="#_x0000_t75" style='width:358.5pt;
			 height:477pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image012.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=478 height=636
			src="images/helpImg/auditorHelp.files/image012.png" v:shapes="图片_x0020_5"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>成果审核页面可以下载用户提交的科研成果文件，或者查看用户邮寄成果材料填写的邮寄信息。</span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>根据下载的成果文件或收到的邮寄成果材料，审核活动成果。若不通过审核，请填写拒绝理由，用户需要重新提交，否则无法申请下一次活动。若通过则无需填写，用户可以申请下一次活动。</span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>审核后用户会收到系统的邮件通知。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>4.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>显示全部，显示用户申报的全部科研学术活动状态并可以查看活动的详细信息、下载活动合同、成果等。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>
<div id="edu"></div>
			<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt;font-family:
			宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>二</span></b><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt'> </span></b><b
			style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;mso-bidi-font-size:
			11.0pt;font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>科普教育实习管理指南</span></b><b
			style='mso-bidi-font-weight:normal'><span lang=EN-US style='font-size:14.0pt;
			mso-bidi-font-size:11.0pt'><o:p></o:p></span></b></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>科普教育实习管理功能主要用来审核用户提出的科普教育实习申请及其后续材料的递交。</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_23" o:spid="_x0000_i1040" type="#_x0000_t75" style='width:167.25pt;
			 height:112.5pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image013.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=223 height=150
			src="images/helpImg/auditorHelp.files/image013.png" v:shapes="图片_x0020_23"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>管理科研学术活动菜单栏下有四个子项，分别为：</span></p>

			<p class=MsoNormal><span lang=EN-US>1.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>待审核科研活动申请：显示所有用户提交了活动申请，但是尚未经过审核的科研学术活动。</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_25" o:spid="_x0000_i1039" type="#_x0000_t75" style='width:438pt;
			 height:105.75pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image014.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=584 height=141
			src="images/helpImg/auditorHelp.files/image015.jpg" v:shapes="图片_x0020_25"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>点击某个活动对应的操作按钮可以查看活动详情并进行审核：</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_26" o:spid="_x0000_i1038" type="#_x0000_t75" style='width:411pt;
			 height:379.5pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image016.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=548 height=506
			src="images/helpImg/auditorHelp.files/image017.jpg" v:shapes="图片_x0020_26"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>科普教育实习详情页面中点击申请人姓名可以查看活动申请人的用户信息，点击人数后面的“查看”可以查看参加该活动的活动成员列表。</span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>查看活动的全部信息后可以在该页面选择是否审核通过该项活动申请的审核。如果不通过审核，请填写拒绝理由，通过审核则无需填写。</span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>审核后该活动申请人员将收到审核结果的邮件通知。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>2.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>待确认科普教育实习合同：用户活动申请审核通过后需要递交活动合同，该选项下显示所有用户已提交了合同等待工作人员确认合同的活动。</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_27" o:spid="_x0000_i1037" type="#_x0000_t75" style='width:425.25pt;
			 height:104.25pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image018.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=567 height=139
			src="images/helpImg/auditorHelp.files/image019.jpg" v:shapes="图片_x0020_27"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>点击该页面某个活动对应的操作按钮可以查看用户上传的合同文件或提交的合同邮寄信息，如下。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_28" o:spid="_x0000_i1036" type="#_x0000_t75" style='width:411.75pt;
			 height:315pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image020.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=549 height=420
			src="images/helpImg/auditorHelp.files/image020.png" v:shapes="图片_x0020_28"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>合同审核页面可以下载用户提交的活动合同扫描件，或者查看用户邮寄合同填写的邮寄信息。</span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>根据下载的合同扫描件或收到的邮寄合同，审核活动合同。若不通过审核，请填写拒绝理由，若通过则无需填写。</span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>审核后用户会收到系统的邮件通知。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>3.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>待进行科普教育实习培训：用户在申报完成后即可按照预定前往天目山，进入天目山后在开始活动前，需要进行一次国家自然保护区培训，该选项下显示已申报完成待开始的活动。</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_30" o:spid="_x0000_i1035" type="#_x0000_t75" style='width:451.5pt;
			 height:108.75pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image021.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=602 height=145
			src="images/helpImg/auditorHelp.files/image022.jpg" v:shapes="图片_x0020_30"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>点击该页面某个活动对应的操作按钮可以查看活动成员并改变每名成员的培训状态，如下。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_31" o:spid="_x0000_i1034" type="#_x0000_t75" style='width:450pt;
			 height:204pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image023.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=600 height=272
			src="images/helpImg/auditorHelp.files/image024.jpg" v:shapes="图片_x0020_31"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>标记成员通过培训后，该成员即可凭借二维码自由出入申报的区域。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>4.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>显示全部，显示用户申报的全部科研学术活动状态并可以查看活动的详细信息、成员培训状态、下载活动合同等。</span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>超过约定的活动结束时间后，视为活动结束，活动结束前该活动申请人不能申报新的科普教育实习活动。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>
<div id="voler"></div>
			<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt;font-family:
			宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>三</span></b><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt'> </span></b><b
			style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;mso-bidi-font-size:
			11.0pt;font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>志愿者管理指南</span></b><b
			style='mso-bidi-font-weight:normal'><span lang=EN-US style='font-size:14.0pt;
			mso-bidi-font-size:11.0pt'><o:p></o:p></span></b></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>志愿者管理功能主要用来审核用户提出的成为志愿者的申请及其培训的管理。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>志愿者管理功能由</span><span
			lang=EN-US>3</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>部分部组成：</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_34" o:spid="_x0000_i1033" type="#_x0000_t75" style='width:160.5pt;
			 height:87.75pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image025.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=214 height=117
			src="images/helpImg/auditorHelp.files/image025.png" v:shapes="图片_x0020_34"><![endif]></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>1.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>待审核志愿者列表，显示提出志愿者申请的用户列表</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_32" o:spid="_x0000_i1032" type="#_x0000_t75" style='width:450pt;
			 height:120pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image026.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=600 height=160
			src="images/helpImg/auditorHelp.files/image027.jpg" v:shapes="图片_x0020_32"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>点击对应的详情</span><span
			lang=EN-US>/</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>操作即可查看用户的详细信息及申请理由，如下：</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_35" o:spid="_x0000_i1031" type="#_x0000_t75" style='width:320.25pt;
			 height:429pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image028.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=427 height=572
			src="images/helpImg/auditorHelp.files/image028.png" v:shapes="图片_x0020_35"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>该页面可以选择通过或拒绝用户的志愿者申请。若不通过，请填写理由。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>2.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>待培训志愿者列表，显示已通过志愿者审核但通过国家自然保护区培训的用户</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_37" o:spid="_x0000_i1030" type="#_x0000_t75" style='width:399pt;
			 height:95.25pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image029.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=532 height=127
			src="images/helpImg/auditorHelp.files/image030.jpg" v:shapes="图片_x0020_37"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>点击对应的详情</span><span
			lang=EN-US>/</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>操作即可编辑确认该用户已通过培训，如下：</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_39" o:spid="_x0000_i1029" type="#_x0000_t75" style='width:396pt;
			 height:160.5pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image031.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=528 height=214
			src="images/helpImg/auditorHelp.files/image032.jpg" v:shapes="图片_x0020_39"><![endif]></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>3.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>全部志愿者申请列表，显示所有已经成为或正在申请成为志愿者的用户及其状态</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_40" o:spid="_x0000_i1028" type="#_x0000_t75" style='width:392.25pt;
			 height:137.25pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image033.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=523 height=183
			src="images/helpImg/auditorHelp.files/image034.jpg" v:shapes="图片_x0020_40"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>点击用户对应的操作按钮可进入对应状态的编辑页面。如用户已经成为志愿者后，将进入修改志愿者状态页面，如下：</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_41" o:spid="_x0000_i1027" type="#_x0000_t75" style='width:394.5pt;
			 height:197.25pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image035.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=526 height=263
			src="images/helpImg/auditorHelp.files/image036.jpg" v:shapes="图片_x0020_41"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>该页面可以撤销用户的志愿者身份，或使其保留志愿者身份但退回需要重新参加培训的状态</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>
<div id="vol"></div>
			<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt;font-family:
			宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>四</span></b><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt'> </span></b><b
			style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;mso-bidi-font-size:
			11.0pt;font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>宣传教育活动管理指南</span></b><b
			style='mso-bidi-font-weight:normal'><span lang=EN-US style='font-size:14.0pt;
			mso-bidi-font-size:11.0pt'><o:p></o:p></span></b></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>宣传教育活动功能主要用来发布需要志愿者的宣传教育活动（招募志愿者）并审核报名的志愿者</span></p>

			<p class=MsoNormal><span lang=EN-US>1.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>在“宣传教育活动管理”</span><span lang=EN-US>-</span><span
			style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>》“发布宣传教育活动”选项下发布志愿者活动，如下：</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_43" o:spid="_x0000_i1026" type="#_x0000_t75" style='width:345pt;
			 height:326.25pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image037.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=460 height=435
			src="images/helpImg/auditorHelp.files/image038.jpg" v:shapes="图片_x0020_43"><![endif]></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>2.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>在“宣传教育活动管理”</span><span lang=EN-US>-</span><span
			style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>》“审核活动</span><span lang=EN-US>/</span><span
			style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>志愿者”选项下课查看志愿者活动信息</span></p>

			<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
			 id="图片_x0020_44" o:spid="_x0000_i1025" type="#_x0000_t75" style='width:399pt;
			 height:209.25pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/auditorHelp.files/image039.png" o:title=""/>
			</v:shape><![endif]--><![if !vml]><img width=532 height=279
			src="images/helpImg/auditorHelp.files/image040.jpg" v:shapes="图片_x0020_44"><![endif]></span></p>

			<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
			mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
			minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>点击相应的编辑按钮进入活动详情页面可以选择撤销活动或审核报名该活动的志愿者。</span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			</div>


   </div><!-- end of right content -->
 
<%- include footer %>
