	</div>   <!--end of center content -->               
    
    <div class="clear"></div>
    </div> <!--end of main content-->
    
    <div class="footer">
    
    	<div class="left_footer">浙ICP备xxxxxxxx号 | © 2016 浙江天目山国家级自然保护区管理局 版权所有</div>
    	<div class="right_footer"><img src="/images/in/images/indeziner_logo.png" alt="" title="" border="0" /></div>
    
    </div>

</div>		
</body>
</html>
