<%- include header %>
    
    <div class="right_content">            
        
        <h2><%= menu.title %></h2>
        <%- include tips %>
     
         
			<div class=WordSection1 style='layout-grid:15.6pt'>

<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt;font-family:
宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
mso-hansi-theme-font:minor-latin'>主管领导审批指南</span></b><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:14.0pt;mso-bidi-font-size:11.0pt'><o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>宣教科人员在审核通过用户的科研学术或科普教育活动申请后，用户的申请将被转至主管领导进行进一步审核确认。主管领导可选择通过或拒绝用户的申请。</span><span
lang=EN-US><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shapetype
 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="图片_x0020_1" o:spid="_x0000_i1027" type="#_x0000_t75"
 style='width:156.75pt;height:87pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="images/helpImg/leaderHelp.files/image001.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img width=209 height=116
src="images/helpImg/leaderHelp.files/image001.png" v:shapes="图片_x0020_1"><![endif]></span></p>

<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>“审核科研学术活动”与“审核科普教育实习”两项中可以分别查看待审核的活动，旁边的数字表示待审活动数量。</span></p>

<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>进入<span
class=GramE>带领导</span>审核的活动申请列表中可以查看所有待审活动，点击活动名称可查看活动负责人详细信息，点击申请人可查看申请人详细信息。点击详情可查看活动详情并进入审核页面。</span></p>

<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
 id="图片_x0020_2" o:spid="_x0000_i1026" type="#_x0000_t75" style='width:414.75pt;
 height:135pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="images/helpImg/leaderHelp.files/image002.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img width=553 height=180
src="images/helpImg/leaderHelp.files/image003.jpg" v:shapes="图片_x0020_2"><![endif]></span></p>

<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>审核页面中点击人数后的查看还可查看该活动的全部成员信息。</span></p>

<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>选择不通过用户申请时请填写意见，该意见将显示给用户，同时用户会收到相关通知。</span></p>

<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>选择通过用户申请时无需听写审核意见，用户将收到相关通知并进行下一步操作。宣教科人员将进行后续操作，主管领导可在审核选项卡的“显示全部”列表中查看任何活动的当前状态及相关信息。</span></p>

<p class=MsoNormal><span lang=EN-US style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape
 id="图片_x0020_3" o:spid="_x0000_i1025" type="#_x0000_t75" style='width:415.5pt;
 height:417pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="images/helpImg/leaderHelp.files/image004.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img width=554 height=556
src="images/helpImg/leaderHelp.files/image005.jpg" v:shapes="图片_x0020_3"><![endif]></span></p>

<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>科普教育活动审核与科研学术活动审核操作相同。</span></p>

<p class=MsoNormal><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>此外在“宣传教育活动管理</span><span
lang=EN-US>/</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>志愿者需求”选项卡中可以发布志愿者活动，该部分功能与宣教科人员相同，具体操作可查看“帮助”</span><span
lang=EN-US>-</span><span class=GramE><span style='font-family:宋体;mso-ascii-font-family:
Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>》</span></span><span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>“科研宣教人员”</span><span lang=EN-US>-</span><span
class=GramE><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>》</span></span><span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>“志愿者活动管理指南”</span></p>

</div>


   </div><!-- end of right content -->
 
<%- include footer %>
