<%- include header %>
    
    <div class="right_content">            
        
        <h2><%= menu.title %></h2>
        <%- include tips %>


		<div class=WordSection1 style='layout-grid:15.6pt'>
<div id="env"></div>
			<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt;font-family:
			宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>一、</span></b><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt'> </span></b><b
			style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;mso-bidi-font-size:
			11.0pt;font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>使用环境</span></b><b
			style='mso-bidi-font-weight:normal'><span lang=EN-US style='font-size:14.0pt;
			mso-bidi-font-size:11.0pt'><o:p></o:p></span></b></p>

			<p class=MsoNormal><span lang=EN-US>1.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>本管理信息系统为桌面版管理系统，支持在谷歌、火狐、Edge、360、IE等主流桌面浏览器平台下进行访问与操作，若果您不能正常使用本站点，建议使用谷歌浏览器在电脑端进行访问。</span></p>

			<p class=MsoNormal><span lang=EN-US></span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>请注意：</span></p>

			<p class=MsoNormal><span lang=EN-US>(1)</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>使用IE浏览器访问时，请前往“工具”-》“兼容性视图设置”中，取消勾选“在兼容性视图中显示Internet站点”选项。</span></p>

			<img src="images/helpImg/loginHelp.files/image_ie.PNG">

			<p class=MsoNormal><span lang=EN-US>(2)</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>使用360浏览器访问时，请使用“极速模式”。</span></p>

			<img src="images/helpImg/loginHelp.files/image_360.PNG">

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal><span lang=EN-US>附：</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>主流浏览器下载链接 <a href="http://www.google.cn/intl/zh-CN/chrome/browser/desktop/index.html" target="_blank">谷歌浏览器</a>、 <a href="http://www.firefox.com.cn/" target="_blank">火狐浏览器</a>、 <a href="http://se.360.cn/" target="_blank">360浏览器</a>、 <a href="http://browser.qq.com/" target="_blank">QQ浏览器</a>、 <a href="http://ie.sogou.com/" target="_blank">搜狗浏览器</a>。</span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			
<div id="loginReg"></div>
			<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt;font-family:
			宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>二、</span></b><b style='mso-bidi-font-weight:
			normal'><span style='font-size:14.0pt;mso-bidi-font-size:11.0pt'> </span></b><b
			style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;mso-bidi-font-size:
			11.0pt;font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>登录注册</span></b><b
			style='mso-bidi-font-weight:normal'><span lang=EN-US style='font-size:14.0pt;
			mso-bidi-font-size:11.0pt'><o:p></o:p></span></b></p>

			<p class=MsoNormal><span lang=EN-US>1.</span><span style='font-family:宋体;
			mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>如果已有本系统账号，请使用注册时的电子邮箱地址及密码登录系统。</span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
			style='mso-no-proof:yes'><!--[if gte vml 1]><v:shapetype id="_x0000_t75"
			 coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
			 filled="f" stroked="f">
			 <v:stroke joinstyle="miter"/>
			 <v:formulas>
			  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
			  <v:f eqn="sum @0 1 0"/>
			  <v:f eqn="sum 0 0 @1"/>
			  <v:f eqn="prod @2 1 2"/>
			  <v:f eqn="prod @3 21600 pixelWidth"/>
			  <v:f eqn="prod @3 21600 pixelHeight"/>
			  <v:f eqn="sum @0 0 1"/>
			  <v:f eqn="prod @6 1 2"/>
			  <v:f eqn="prod @7 21600 pixelWidth"/>
			  <v:f eqn="sum @8 21600 0"/>
			  <v:f eqn="prod @7 21600 pixelHeight"/>
			  <v:f eqn="sum @10 21600 0"/>
			 </v:formulas>
			 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
			 <o:lock v:ext="edit" aspectratio="t"/>
			</v:shapetype><v:shape id="图片_x0020_1" o:spid="_x0000_i1027" type="#_x0000_t75"
			 style='width:396.75pt;height:244.5pt;visibility:visible;mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/loginHelp.files/image001.png" o:title=""/>
			</v:shape><![endif]--><img width=529 height=326
			src="images/helpImg/loginHelp.files/image002.jpg" v:shapes="图片_x0020_1"></span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US>2.</span><span
			style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>若无本系统账号，请点击登录界面右上角“注册”，注册本系统账户。</span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
			style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape id="图片_x0020_3" o:spid="_x0000_i1026"
			 type="#_x0000_t75" style='width:394.5pt;height:361.5pt;visibility:visible;
			 mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/loginHelp.files/image003.png" o:title=""/>
			</v:shape><![endif]--><img width=526 height=482
			src="images/helpImg/loginHelp.files/image004.jpg" v:shapes="图片_x0020_3"></span></p>

			<p class=MsoNormal align=left style='text-align:left'><span style='font-family:
			宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>注册页面所有带</span><span lang=EN-US>*</span><span
			style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>号标记的项为必填项，其中邮箱账户将作为账户登录用户名。</span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US>3.</span><span
			style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
			mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
			Calibri;mso-hansi-theme-font:minor-latin'>若已有本系统账号但忘记登录密码，可在登录页面右上角点击“忘记密码”。</span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
			style='mso-no-proof:yes'><!--[if gte vml 1]><v:shape id="图片_x0020_4" o:spid="_x0000_i1025"
			 type="#_x0000_t75" style='width:395.25pt;height:168pt;visibility:visible;
			 mso-wrap-style:square'>
			 <v:imagedata src="images/helpImg/loginHelp.files/image005.png" o:title=""/>
			</v:shape><![endif]--><img width=527 height=224
			src="images/helpImg/loginHelp.files/image006.jpg" v:shapes="图片_x0020_4"></span></p>

			<p class=MsoNormal align=left style='text-align:left'><span style='font-family:
			宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
			宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;
			mso-hansi-theme-font:minor-latin'>在当前页面提交账户电子邮箱地址，系统将向该邮箱地址发送重置密码链接，访问链接即可自动登录系统并进入编辑个人信息界面，请在编辑个人信息界面重设登录密码。重置密码链接将在发送后半小时后失效，且在访问一次后失效。</span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

			<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

		</div>


   </div><!-- end of right content -->
 
<%- include footer %>
