<% if(menu.suc){ %>
	<div class="valid_box">
	    <%= menu.suc %>
	</div>
<% } %>

<% if(menu.war){ %>
	<div class="warning_box">
	        <%= menu.war %>
	</div>
<% } %>

<% if(menu.err){ %>
	<div class="error_box">
	       <%= menu.err %>
	</div>
<% } %>