<%- include header %>
    
    <div class="right_content">            
     <h2>错误警告</h2>
      
     <div class="warning_box">
        这是一个未完成的不确定页面，用来展示替代跳转目标。如果你看到了这个页面，请通知作者进行修改。谢谢
     </div>
           
     </div><!-- end of right content-->
            
                    
<%- include footer %>
